@use 'src/styles/gaps';

$off: #ddd;
$active: chartreuse;
$playing: cyan;
$darkenAmount: 15%;

.root {
  padding: gaps.$medium;
  background: $off;

  border: gaps.$tiny solid #fff;

  &:hover {
    background: darken($off, $darkenAmount);
  }

  &.active {
    &.green {
      background: chartreuse;
      &:hover {
        background: darken(chartreuse, $darkenAmount);
      }
    }

    &.purple {
      background: #d400d4;
      &:hover {
        background: darken(#d400d4, $darkenAmount);
      }
    }

    &.blue {
      background: #0053ff;
      &:hover {
        background: darken(#0053ff, $darkenAmount);
      }
    }
  }

  &.playingNow {
    border-color: $playing;
  }
}
