$off: #ddd;
$on: #ADFF2FFF;
$darkenAmount: 15%;

.root {
  padding: 1rem;
  background: $off;
  &:hover {
    background: darken($off, $darkenAmount);
  }

  &.on {
    background: greenyellow;
    &:hover {
      background: darken($on, $darkenAmount);
    }
  }


}
