$off: #ddd;
$active: chartreuse;
$playing: cyan;
$darkenAmount: 15%;

.root {
  padding: 1rem;
  background: $off;

  border: 0.2rem solid #fff;

  &:hover {
    background: darken($off, $darkenAmount);
  }

  &.active {
    background: $active;
    &:hover {
      background: darken($active, $darkenAmount);
    }
  }

  &.playingNow {
    border: 0.2rem solid $playing;
  }
}
