@use 'src/styles/shadows';
@use 'src/styles/colours';

@mixin paper() {
  padding: 0.5rem;
  border: 1px solid colours.$onPrimary;
  background: colours.$primary;
  box-shadow: shadows.$medium;
}

@mixin visually-hidden {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

@mixin button {
  @include paper;
  box-shadow: shadows.$low;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colours.$onPrimary;

  &:hover {
    background: lighten(colours.$secondary, 10);
    color: colours.$onSecondary;
  }

  &:active {
    background: lighten(colours.$secondary, 5);
    color: colours.$onSecondary;
  }
}
