@use 'src/styles/mixins';
@use 'src/styles/shadows';
@use 'src/styles/colours';

.radioButton {
  @include mixins.button;
  text-align: center;

  &.checked {
    background: colours.$secondary;
    color: colours.$onSecondary;
  }

  input {
    @include mixins.visually-hidden;
  }
}
