@use 'src/styles/mixins';
@use 'src/styles/shadows';

.root {
  @include mixins.paper;

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.goButton {
  @include mixins.button;
}

.buttons {
  margin-top: 1rem;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
}

.radioGroup {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
}
