@use 'src/styles/mixins';
@use 'src/styles/shadows';
@use 'src/styles/gaps';

.root {
  @include mixins.paper;

  padding: 1rem;

  max-width: 1200px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: gaps.$medium;
}

.goButton {
  @include mixins.button;
}
