@use 'src/styles/mixins';

.root {
  @include mixins.paper;

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.scaleButtons {
  display: flex;
  flex-direction: column;
}

.scaleButton {
  @include mixins.paper;

  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  &.checked {
    background: #b8ffff;
  }
}
