@use 'src/styles/screenSize';
@use 'src/styles/mixins';

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include screenSize.tallScreen {
    align-items: center;
  }
}

button {
  @include mixins.button;
}
