@use 'src/styles/screenSize';
@use 'src/styles/colours';
@use 'src/styles/mixins';
@use 'src/styles/timing';

* {
  transition: background-color timing.$short, color timing.$short;
}

button {
  @include mixins.button;
}

body {
  background: var(--background);
}

input {
  background: var(--on-secondary);
  color: var(--secondary);
  border: solid 1px var(--secondary);
  text-align: center;
}

input[type='range'] {
  background: none;
  border: none;
}

input[type='range']::-moz-range-track {
  background: var(--secondary);
}

input[type='range']::-moz-range-thumb {
  background: var(--secondary);
  border: none;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
